.btn {
  border: .125rem $melon solid;
  color: $melon;
  display: inline-block;
  font-weight: 700;
  margin-right: 1rem;
  padding: .75rem;
  transition: background-color ease-in-out .25s, color ease-in-out .25s;
  will-change: background-color, color;

  &:hover {
    background-color: $melon;
    color: $day;
  }
}
