@mixin animation-pan {
  animation-delay: 1s;
  animation-duration: 60s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: pan;
  animation-timing-function: linear;
  will-change: top;

  @keyframes pan {
    0% {
      top: 0;
    }

    50% {
      top: -50%;
    }

    100% {
      top: 0%;
    }
  }
}
