@mixin lists {

  ul,
  ol {
    @include margin-fix;
    counter-reset: li;
    margin-bottom: 1rem;
    margin-top: 1rem;

    li {
      @include margin-fix;
      counter-increment: li;
      margin-bottom: .5rem;
      margin-top: .5rem;
      max-width: 40rem;

      @media #{$mq-s} {
        font-size: 1.125rem;
      }
    }

    a {
      border-bottom: .0625rem $melon solid;
      color: $melon;
      font-weight: 700;
      transition: border ease-in-out .25s, color ease-in-out .25s;

      &:hover {
        border-color: $gray-dark;
        color: $gray-dark;
      }
    }
  }

  ul li,
  ol li {
    padding-left: 1.875rem;

    @media #{$mq-s} {
      padding-left: 2rem;
    }
  }

  ul li::before {
    color: $melon;
    content: '―';
    font-size: 1.375rem;
    left: 0;
    position: absolute;
    top: -.375rem;

    @media #{$mq-s} {
      font-size: 1.5rem;
    }
  }

  ol li::before {
    @include font-family--serif;
    color: $melon;
    content: counter(li, decimal-leading-zero);
    font-size: 1.125rem;
    left: 0;
    position: absolute;
    top: -.25rem;

    @media #{$mq-s} {
      font-size: 1.25rem;
    }
  }
}
