.ce-columns {
  align-items: center;
  background-color: $day;
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 0;
  width: 100%;
  z-index: 20;

  @media #{$mq-m} {
    padding: 4rem 2rem;
  }

  &__title {
    max-width: 64rem;
    padding: 2rem;
    width: 100%;
  }

  &__text {
    max-width: 64rem;
    padding: 2rem;
    width: 100%;

    @media #{$mq-m} {
      column-count: 2;
      column-gap: 4rem;
    }

    p {
      break-inside: avoid;
      page-break-inside: avoid;
    }
  }
}
