.ce-text {
  align-items: center;
  background-color: $day;
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 0;
  width: 100%;
  z-index: 20;

  @media #{$mq-m} {
    padding: 4rem 2rem;
  }

  &__title {
    max-width: 44rem;
    padding: 2rem;
    width: 100%;
  }

  &__text {
    @include lists;
    max-width: 44rem;
    padding: 2rem;
    width: 100%;
  }
}
