.page-header {
  align-items: center;
  background-color: $melon;
  display: flex;
  justify-content: center;
  padding: 6rem 0 4rem;
  width: 100%;

  @media #{$mq-m} {
    padding: 6rem 0;
  }

  &__title {
    max-width: 44rem;
    overflow: hidden;
    padding: 2rem 2rem 4rem;
    width: 100%;
    z-index: 2;

    @media #{$mq-m} {
      padding: 2rem 2rem 6rem;
    }
  }

  &__image {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 50vh;
    justify-content: flex-start;
    max-width: 68rem;
    min-height: 32rem;
    padding: 2rem;
    width: 100%;
    z-index: 2;

    @media #{$mq-m} {
      padding: 2rem 4rem;
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;
      width: 100%;

      @media #{$mq-s} {
        max-width: 87.5%;
      }

      @media #{$mq-m} {
        max-width: 75%;
      }

      @media #{$mq-l} {
        max-width: 62.5%;
      }
    }
  }

  &__background {
    background-size: cover;
    height: calc(100% - 4rem);
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    @media #{$mq-m} {
      height: calc(100% - 6rem);
    }

    &--home {
      opacity: 1;
    }
  }
}
